<div class="middle-box text-center animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">FnF</h1>
    </div>
    <h2><%= t('Catalog goods') %></h2>
    <p><%= link_to t('In users'), users_path %> <%= User.count %> <%= t('user') %></p>
    <p><%= t('Go to program') %><br /> <%= t('Authorization and registration') %></p>
    <p class="m-t"> <small>Zettheme Inc. &copy; 2015</small> </p>
  </div>
</div>
